@import url(./common.stye.less);
@media (max-width: 800px) {

  .profile-pic {
    height: 200px;
    width: 200px;
    background-size: 200px;
    border-radius: 100px;
  }
  .profile-text {
    gap: 15px;
  }
  .logo {
    font-size: 24px;
  }
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
  .line-1,
  .line-2,
  .line-3 {
    .dimension(3px,30px);
    background-color: @primary;
    margin: 6px 0;
    transition: 0.4s;
    opacity: 1;
  }
  .hamburger-icon {
    display: inline-block;
    cursor: pointer;
  }
  .hamburger-icon.open > .line-1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  .hamburger-icon.open > .line-2 {
    opacity: 0;
  }
  .hamburger-icon.open > .line-3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  .menu-links {
    display: none;
    transition: 0.5s;
    .dimension(148px,200px);
  }
  .menu-links.open {
    position: absolute;
    right: 35px;
    background-color: @white;
    box-shadow: @box_shadow;
    padding: 15px;
    border-radius: 10px;
    top: 54px;
    display: block;
    z-index: 2;
  }
  .list{
    .flexAlign(15px);
    margin-bottom: 10px;
    
  }

  .skill-icon{
    background-image: url(./assets/code-solid.svg);
   .imageProperty(20px,20px)
  }
  .phone-icon{
    background-image: url(./assets/phone-solid.svg);
   .imageProperty(20px,20px)
  }
  .project-icon{
    background-image: url(./assets/list-check-solid.svg);
   .imageProperty(20px,20px)
  }

  a:hover {
    color: @hover;
    text-decoration: none;
  }
  #profile {
    flex-direction: column;
    padding: 20px 40px;
    height: fit-content;
    gap: 10px;
  }
  .about-card-wrap {
    padding: 0;
  }
  #about {
    height: fit-content;
  }
  .skill-card-wrap {
    flex-direction: column;
    align-items: unset;
    padding: 0;
  }
  .project-wrap {
    flex-direction: column;
    align-items: unset;
    padding: 0;
  }
  .arrow {
    height: 20px;
    width: 20px;
  }
  .box-wrap {
    width: unset;
    height: unset;
  }
  .skills-wrap{
    height: unset;
  }
  .title {
    text-align: center;
  }
  .desc-wrap{
    display: flex;
    flex-direction: column;
    gap: 7px;
    min-height: 131px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .more{
    display: none;
  }
  .more.open{
    display: block;
  }
  .desc{
    align-items: unset;
  }
  .dots{
    display: inline;
    font-size: 10px;
    color: blue;
    cursor: pointer;
  }
  .dots.close{
    display: none
  }
  .dot{
    margin-top: 8px;  
  }
  .card-sub-title{
    font-size: 16px;
  }
  .profile-desc{
    font-size: 14px;
  }
  a{
    font-size: 16px;
  }
}
