@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url(./common.stye.less);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.nav-bar {
  .customFlex(center,space-between);
  padding: 20px 4%;
  box-shadow: @box_shadow;
}
.logo {
  font-size: 32px;
  font-family: emoji;
}
.nav-links {
  list-style: none;
  .flexAlign(15px);
}
li {
  list-style: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: @primary;
  font-size: 20px;
  text-decoration-color: white;
  transition: 0.3s;
}
a:hover {
  color: @hover;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}
.hamburger-menu {
  display: none;
}
.title{
  color: @primary;
}
.exp-icon{
  background-image: url(./assets/briefcase-solid.svg);
 .imageProperty(20px,20px)
}
#profile {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 40px;
  gap: 30px;
  height: 500px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #6d6d6d45;
}
.btn-container {
  .flexAlign(20px)
}

.btn {
  transition: all 300ms ease;
  padding: 10px;
  width: 8rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn-color-1,
.btn-color-2 {
  border: 1px solid @border_color;
  text-align: center;
}
.btn-color-1{
  color: @primary;
}
.btn-color-2{
  color: @white;
  background-color: @primary;
}

.profile-text {
  .flexAlign(10px);
  flex-direction: column;
}
.profile-pic {
  height: 300px;
  border-radius: 10px;
}

p {
  text-align: center;
  color: rgb(85, 85, 85);
}

.profile-text p {
  font-weight: 600;
}
.social-media-wrap {
 .flexAlign(15px)
}
.icon{
  .imageProperty(30px,30px);
  cursor: pointer;
}
.linked{
  background-image: url(./assets/linkedin.svg);
}
.git{
  background-image: url(./assets/github.svg);
}
.arrow {
  background-image: url(./assets/angles-down-solid.svg);
  position: absolute;
  .imageProperty(20px,20px);
  bottom: 8px;
  right: 10px;
}

#about,
#skill,
#project,
#contact {
  padding: 20px 40px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: @box_shadow;
  position: relative;
  .flexColumn(30px);
}
.card-title{
  color: @primary;
  text-align: center;
}
.card-sub-title{
  color: @primary;
}
.about-card-wrap {
  .flexColumn(10px);
  padding: 0 70px;
}
.experience {
  border:  1px solid  @border_color;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.exp-title {
 .flexAlign(10px)
}
.job-details-wrap {
  display: flex;
  .flexColumn(5px)
}
.job-title {
  .flexAlign(15px);
  color: rgb(85, 85, 85);
}
.mono-icon{
  background-image: url(./assets/monolith-logo.jpg);
  .imageProperty(25px,25px);
  background-size: 24px;
}
.bro-icon{
  background-image: url(./assets/brototype_logo.jpg);
  .imageProperty(25px,25px);
  background-size: 24px;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 3px;
  flex-shrink: 0;
}
.desc {
  display: flex;
  align-items: center;
  gap: 7px;
  padding-left: 16px;
}
.dots{
  display: none;
}

.skill-box {
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 10px;
  flex-grow: 1;
  padding: 10px;
  height: 370px;
}
.project-box {
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  border-radius: 10px;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 370px; */
}
.box-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 1rem;
  text-align: center;
}
.skills {
  display: flex;
  align-items: center;
  gap: 15px;
}
.dott-big {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 5px;
  flex-shrink: 0;
}
.box-wrap {
  gap: 10px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  padding: 0 70px;
}
.project-wrap {
  gap: 10px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  padding: 0 70px;
  /* flex-wrap: wrap; */
}
.skills-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 80px;
}

.project-desc {
  text-align: center;
}
.repo-btn {
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #ecf0fe;
  color: #2c2d6f;
  padding: 6px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mail {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
